@model FreelanceV2.Models.Announcemants
@{
    ViewData["Title"] = "Подробнее";
}

<div class="CenterForm">
    <div class="form-group text-center">
        <h2>@Model.Title</h2>
    </div>
    <div class="form-group">
        <p>@Model.FullDescription</p>
    </div>
    <div class="form-group">
        <i>@Model.MinWage-@Model.MaxWage</i>
        <i>@Model.Binds.Count</i>
    </div>
    <div>
        <a>Оставить заявку</a>
    </div>
</div>